{% extends "main.html" %}
{% load static %}
{% block head %}
<script src="{% static "lib/vendor/jquery.js" %}" charset="utf-8"></script>
<script src="{% static "lib/business-rules/conditions-builder.js" %}" charset="utf-8"></script>
<script src="{% static "lib/business-rules/actions-builder.js" %}" charset="utf-8"></script>
<link rel="stylesheet" href="{% static "css/rules.css" %}" />
<script charset="utf-8">
    var conditions, actions, nameField, ageField, occupationField, submit, allData;
(function($) {
  var occupationOptions = [ "Software Engineer", "Biz Dev", "Marketing" ];

  function getInitialData(jsonData) {
    json = JSON.parse($.trim($("#variables").text()))
    json["data"] = jsonData
    console.log(json)
    return json
  }
  function onReady() {
    conditions = $("#conditions");
    actions = $("#actions");
    nameField = $("#nameField");
    occupationField = $("#occupationField");
    ageField = $("#ageField");
    submit = $("#submit");
    textField = $("#textField")
    try {
        text = JSON.parse(textField.text());
    }
    catch(exception) {
        text = {}
    }
    console.log(text)
    condData = getInitialData(text["conditions"]);
    actData = getInitialData(text["actions"]);
    initializeConditions(condData);
    initializeActions(actData);
    initializeForm();
  }

  function initializeConditions(data) {
    conditions.conditionsBuilder(data)
  }

  function initializeActions(data) {
    actions.actionsBuilder(data);
  }

  function initializeForm() {
    for(var i=0; i < occupationOptions.length; i++) {
      var o = occupationOptions[i];
      occupationField.append($("<option>", {value: o.name, text: o.label}));
    }

    submit.click(function(e) {
      e.preventDefault();
      var cond = conditions.conditionsBuilder("data");
      var act = actions.actionsBuilder("data");
      var json = {
        "conditions": cond,
        "actions": act
      }
      console.log(JSON.stringify(json));
      textField.text(JSON.stringify(json));
    });
  }
  $(onReady);
})(jQuery);
</script>
{% endblock %}
{% block content %}
<h1>Rule Editor</h1>
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
<form class="" action="{{ url }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h3>When these conditions are met...</h3>
    <div id="conditions"></div>

    <h3>Do these actions...</h3>
    <div id="actions"></div>
    <p><button id="submit" class="button-primary">Generate Rule Data</button></p>
<input type="submit" value="submit" id="">
</form>
<div id="variables" hidden="true">
    {{ data }}
</div>
{% endblock %}
